/* App.css */

.App {
  text-align: center;
}

/* HTML element to the side of another */
/* Relative positioning  */
.main-content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main-content section {
  width: 70%; /* Adjust width as needed */
}


/* Font family declaration */
section {
  font-family: Arial, sans-serif; /* Element selector */
}






.nav-link {
  color: #61dafb;
}

.nav-link {
  color: #333; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* a :hover pseudo-class to create a rollover effect for navigation buttons */
.App-link:hover {
  color: #007bff; /* Change color on hover */
  text-decoration: none; /* Remove underline on hover */
}


nav .App-link {
  color: red;
}

nav .App-link:hover {
  color: #007bff;
  text-decoration: none;
}


body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #61dafb;
}

section, aside {
  padding: 20px;
}
/* Class Selector */
.custom-list {
  padding-left: 0; /* Remove padding for list */
  list-style-position: inside; /* Ensure bullets/numbers are inside the list item box */
  text-align: left; /* Align text to the left within the list */
  display: inline-block; /* Align the list itself to the center */
}



h1, h2, h3 {
  font-family: 'Arial, sans-serif';
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: none;
  color: #0056b3;
}

.city-stats {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.city-stats td {
  border: 1px solid #ddd;
  padding: 8px;
}

.city-stats tr:nth-child(even) {
  background-color: #f2f2f2;
}

.city-stats tr:hover {
  background-color: #ddd;
}

.city-stats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* Form styling */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.7em;
  background: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0056b3;
}


.images {
  width: 500px;
  max-width: 100%; 
  margin-bottom: 20px;
}

.table-images {
  width: 100px;
  max-width: 100%; 
  margin-bottom: 20px;
}